<h4>Random Contact</h4>
<ng-container *ngIf="randomContact; else noContact">
  <mat-card class="random-contact-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img [src]="randomContact.picture.thumbnail" class="random-contact-avatar">
      </div>
      <mat-card-title>
        {{ randomContact.name.title }}
        {{ randomContact.name.first }}
        {{ randomContact.name.last }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ randomContact.name.last }}
      </mat-card-subtitle>
    </mat-card-header>
    <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content>
      <p>
        {{ randomContact.location.country }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Elegir como amigo invisible</button>
      <button mat-button>Volver</button>
    </mat-card-actions>
  </mat-card>
</ng-container>

<ng-template #noContact>
  <h3>Cargando contacto aleatorio...</h3>
  <mat-spinner></mat-spinner>
</ng-template>



